<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hello World - TensorFlow.js</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Import the webpage's stylesheet -->
    <link rel="stylesheet" href="static/style.css">
  </head>  
  <body>
    <h1>앉은 자세 분류</h1>

    <p>버튼을 누르면 결과로 표시됩니다. (웹캠 허용 버튼 확인)</p>
    
    <section id="demos">

      <p id="result">결과</p>
      
      <div id="view" class="view">
        <!-- <input type="text" id="posture"> -->
        <button id="webcamButton">Enable Webcam</button>
        <video id="webcam" autoplay muted></video>
      </div>
    </section>
    
    <!-- Import TensorFlow.js library -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@4.7.0/dist/tf.min.js" type="text/javascript"></script>
    <!-- Load the coco-ssd model to use to recognize things in images -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/coco-ssd"></script>

    <!-- Import the page's JavaScript to do some stuff -->
    <script type="module" src="/static/postureScript.js"></script>
  </body>
</html>
