<!DOCTYPE html>
<html lang="en">
  <head>
    <title>앉은 자세 분석기</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Security-Policy" content="frame-ancestors 'none'">
    <!-- Import the webpage's stylesheet -->
    <link rel="stylesheet" href="static/style.css">
  </head>  
  <body>
    <h1>앉은 자세 분석기</h1>
    <iframe width="800" height="600" src="https://lookerstudio.google.com/embed/reporting/4c0095bd-56ef-4372-8af9-5a162880bbad/page/ukTUD" frameborder="0" style="border:0" allowfullscreen></iframe><br/>
    <a href="/check-posture">내 자세 확인하기</a>
  </body>
</html>
