<!DOCTYPE html>
<html lang="en">
  <head>
    <title>웹캠 데이터 전처리</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Import the webpage's stylesheet -->
    <link rel="stylesheet" href="static/style.css">
  </head>  
  <body>
    <h1>Coco SSD & Movenet - 웹캠</h1>

    <p>웹캠 화면에서 사람을 객체탐지하고 신체 주요부위 위치를 기록합니다.</p>
    
    <section id="demos">

      <p>normal, forward_head, leaning 중 입력</p>
      
      <div id="view" class="view">
        <input type="text" id="posture">
        <button id="webcamButton">Enable Webcam</button>
        <video id="webcam" autoplay muted></video>
      </div>
    </section>
    
    <!-- Import TensorFlow.js library -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@4.7.0/dist/tf.min.js" type="text/javascript"></script>
    <!-- Load the coco-ssd model to use to recognize things in images -->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/coco-ssd"></script>

    <!-- Import the page's JavaScript to do some stuff -->
    <script type="module" src="/static/recordStreamScript.js"></script>
  </body>
</html>
